<nav class="admin-nav navbar navbar-expand-lg navbar-dark bg-dark rounded-3 shadow-sm mb-4">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbarNav" aria-controls="adminNavbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNavbarNav">
            <div class="navbar-nav">
                <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link px-3">
                     Accounts
                </a>
                <a routerLink="employees" routerLinkActive="active" class="nav-item nav-link px-3">
                    Employees
                </a>
                <a routerLink="departments" routerLinkActive="active" class="nav-item nav-link px-3">
                     Departments
                </a>
                <a routerLink="requests" routerLinkActive="active" class="nav-item nav-link px-3">
                   Requests
                </a>
            </div>
        </div>
    </div>
</nav>